# Временная конфигурация nginx (только HTTP, без SSL)
server {
    listen 80;
    server_name nikolay-aleksenko.result-student.tw1.ru www.nikolay-aleksenko.result-student.tw1.ru;

    root /usr/share/nginx/html;
    index index.html;

    # Маршрут для проверки Let's Encrypt
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
        try_files $uri =404;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }

    error_page 404 /index.html;
}